<!--<link rel="stylesheet" href="dist/css/product/help-form.css">-->
<!--<link rel="stylesheet" href="gulp-files/dist/css/product/help-form.min.css">-->
<div class="contact">
    <h2 class="contact-tit">联系我们</h2>
    <form class="form-horizontal contact-form" role="form">
        <div class="form-group contact-us">
            <div class="col-md-6 contact-left">
                <input type="text" class="form-control name" placeholder="姓名">
            </div>
            <div class="col-md-6 contact-right" >
                <input type="email" class="form-control e-mail"  placeholder="邮箱">
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control suggest" rows="8" placeholder="请填写您的意见或建议"></textarea>
        </div>
        <div class="center-block">
            <button type="submit" class="submit">提交</button>

        </div>
    </form>

</div>