<!DOCTYPE html>
<html ng-app="loginApp">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css"/>
    <!--<link rel="stylesheet" href="/css/style.3.0.20.css">-->
    <!--<link rel="stylesheet" href="dist/css/content/base.css"/>-->
    <!--<link rel="stylesheet" href="dist/css/login/login.css"/>-->
    <!--<script src="http://api.geetest.com/get.php?callback=initCaptcha"></script>-->

    <!--压缩格式-->
    <link rel="stylesheet" href="gulp-files/dist/css/content/base.min.css"/>
    <!--<link rel="stylesheet" href="dist/css/login/login.css"/>-->
    <link rel="stylesheet" href="gulp-files/dist/css/login/login.min.css"/>
</head>
<body ng-controller="LoginController">
<div class="hero">
    <video autoplay="autoplay" loop="loop" poster="dist/images/media.jpg" >
        <source src="dist/media/movie_clip.webm" type="video/webm">
        <source src="dist/media/movie_clip_0.mp4" type="video/mp4">
        <source src="dist/media/movie_clip.ogg" type="video/ogg">
    </video>
</div>
<div class="clip"></div>
<div class="container">

    <div class="loginBox">
        <div class="login-mid">
            <div class="login-tit"></div>
            <div class="login-con">
                <form ng-submit="loginUsr(user)">
                    <div class="form-group ">
                        <label class="icon-user">账户名</label>
                        <input type="text" placeholder="员工号" ng-model="user.loginName"/>
                    </div>
                    <div class="form-group ">
                        <label class="icon-lock">密码</label>
                        <input type="password" placeholder="请输入密码" ng-model="user.passWord"/>
                    </div>
                    <!--<div class="form-group ">-->
                    <!--<label class="icon-lock">拖动完成验证</label>-->
                    <!--<div id="captcha"></div>-->
                    <!--<p id="wait" class="show">正在加载验证码......</p>-->
                    <!--<p id="notice" class="hide">请先拖动验证码到相应位置</p>-->
                    <!--</div>-->
                    <div class="form-group tip-link">
                        <a href="http://172.17.122.124:9090/#/forgetPassword" target="_blank">忘记密码？</a>
                        <a href="http://172.17.122.124:9090/#/forgetPassword" target="_blank">首次登陆？</a>
                    </div>
                    <!--<div class="form-group remember-forgot">-->
                        <!--<div class="checkbox">-->
                            <!--<label><input type="checkbox" >记住密码</label>-->
                        <!--</div>-->
                        <!--<a class="forgot pull-right" ui-sref="login.forgot">忘记密码？</a>-->
                    <!--</div>-->
                    <div class="form-group" id="msg" style="display: none;">
                        <div class="alert alert-warning msg-alert">
                            您的网络连接有问题。
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="login-submit" id="login_submit" value="登录"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>

<!--非压缩格式-->
<script src="src/controller/LoginController.js"></script>
<script src="src/service/LoginService.js"></script>
<script src="dist/js/util/util.js"></script>
<!--&lt;!&ndash;极验验证&ndash;&gt;-->
<!--&lt;!&ndash;<script src="dist/js/geetest/gt.js"></script>&ndash;&gt;-->
<script src="dist/js/util/validateForm.js"></script>

<!--压缩格式-->

<!--<script src="gulp-files/src/controller/LoginController.min.js"></script>-->
<!--<script src="gulp-files/src/service/LoginService.min.js"></script>-->
<!--<script src="gulp-files/dist/js/util/util.min.js"></script>-->
<!--<script src="gulp-files/dist/js/util/validateForm.min.js"></script>-->
</body>
</html>
