<!--<link rel="stylesheet" href="dist/css/product/include.css">-->
<!--压缩格式-->
<!--<link rel="stylesheet" href="gulp-files/dist/css/product/include.min.css">-->

<!--<link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />-->
<!--<link rel="stylesheet" href="dist/css/content/alarm.css">-->
<!--<link rel="stylesheet" href="gulp-files/dist/css/content/alarm.min.css">-->

<div id="st-container">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <div class="st-menu color-alarm st-effect-3">
            <div class="side-menu-show">
                <div class="menu-con color-alarm">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default color-alarm">
                            <div class="panel-heading active">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne"
                                       class="color-alarm" data-effect="st-effect-3" ui-sref="alarm.web">
                                        <span>网站告警历史</span>
                                        <span class="icon glyphicon glyphicon-chevron-down"></span>
                                        <div class="active-side-menu " style="display: block;"></div>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul>
                                        <li class="active"><a ui-sref="monitor.http">HTTP告警历史</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default color-alarm">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo"
                                       class="color-alarm" data-effect="st-effect-3" ui-sref="alarm.service">
                                        <span>项目告警历史</span>
                                        <span class="icon glyphicon glyphicon-chevron-right"></span>
                                        <div class="active-side-menu "></div>
                                    </a>

                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li class="active"><a ui-sref="monitor.users">用户中心</a></li>
                                        <li><a ui-sref="monitor.pay">支付</a></li>
                                        <li><a ui-sref="monitor.platform">开放平台</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--<div class="panel panel-default color-alarm">-->
                            <!--<div class="panel-heading active">-->
                                <!--<h4 class="panel-title">-->
                                    <!--<a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree"-->
                                       <!--class="color-alarm" data-effect="st-effect-3" ui-sref="alarm.statistic">-->
                                        <!--<span>告警统计</span>-->
                                        <!--<span class="icon glyphicon glyphicon-minus"></span>-->
                                        <!--<div class="active-side-menu " style="display: block;"></div>-->
                                    <!--</a>-->
                                <!--</h4>-->
                            <!--</div>-->


                    </div>
                </div>
            </div>
        </div>

        <div id="st-trigger-effects" class="trigger-con">
            <button class="menu-icon menu-show-icon color-alarm" data-effect="st-effect-3"></button>
            <div class=" menu-icon menu-close-icon color-alarm" data-effect="st-effect-3" style="display: none;"></div>
            <!--中间主体-->
            <div class="con border-alarm">
                <h3 class="con-tit color-alarm" ng-cloak="">{{titName}}</h3>

                <div class="monitor-content">
                    <div class="row">
                        <div class="col-md-6 pull-left">
                            <button ui-sref="monitor.item" type="button" class="btn-add color-alarm">创建监控项</button>
                            <button ui-sref="monitor.template" type="button" class="btn-add color-alarm">创建监控模板</button>
                        </div>
                        <!--<div class="col-md-3 pull-right">-->
                            <!--<div class="input-group">-->
                                <!--<input type="text" class="form-control input-search border-alarm" placeholder="监控项名称或url">-->
                                <!--<span class="input-group-btn">-->
                                        <!--<button class="btn-search color-alarm" type="button">-->
                                            <!--搜索-->
                                        <!--</button>-->
                                <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <section ui-view="">

                    </section>
                </div>
            </div>
            <!--意见反馈-->
            <app-help-form></app-help-form>
        </div>
    </div><!-- /st-pusher -->
</div><!-- /st-container -->



<!--压缩格式-侧导航-->
<!--<script src="dist/js/util/sidebar.js"></script>-->
<!--<script src="dist/js/sidebar-transition/classie.js"></script>-->
<!--<script src="dist/js/sidebar-transition/sidebarEffects.js"></script>-->

<!--压缩格式-->
<script src="gulp-files/dist/js/util/sidebar.min.js"></script>
<script src="gulp-files/dist/js/sidebar-transition/classie.min.js"></script>
<script src="gulp-files/dist/js/sidebar-transition/sidebarEffects.min.js"></script>
